.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9rem 16.5rem;
  gap: 6.4rem;
  max-width: 111rem;

  @include respond(mobile) {
    max-width: 31.1rem;
  }

  @include respond(phone) {
    max-width: 40rem;
    margin-block-start: 8.5rem;
    margin-inline-start: 3.2rem;
    margin-inline-end: 3.2rem;
    gap: 7.6rem;
  }
}

.grid-container {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  align-items: center;

  @include respond(tab-land) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}
